img {
    width: 300px;
    

}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c44cf;
    
}

p {
    font-size: 1.5rem;
    font-family: 'Rock Salt', cursive;
    color: #ffb9cb;
}

h1 {
    font-family: 'Sancreek', cursive;
    font-size: 4rem;
    color: #f5c1f0;
}

#question {
padding: 21px;
border: 5px solid #e953da;
border-radius: 10%;
font-family: 'Montserrat', sans-serif;
background-color: #142f48;
color: white;
font-size: 1rem;
}

#submit {
    padding: 17px;
    border: 5px solid #e953da;
    border-radius: 15%; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #142f48;
    color: white;

}

#answer-display {
    color: white;
    font-size: 2rem;
    font-family: 'Oldenburg', cursive;
}
